<div>
  <div class="comment">
    <div class="title">评论区</div>
    <div class="thumbnail" *ngFor="let item of items">
      <div class="stable">
        <div class="avatar">
          <img src="./assets/imgs/avatar.jpg" alt="">
        </div>
      </div>
      <div class="wrapper">
        <div class="header">
          <div class="auth">{{item.auth}}</div>
          <div class="level">#{{item.level}}</div>
          <div class="date">{{item.date}}</div>
        </div>
        <div class="comment-content">
          {{item.comment}}
        </div>
        <div class="footer">
          <div class="tip">
            <ion-icon ios="ios-chatbubbles-outline" md="ios-chatbubbles-outline"></ion-icon>
            20
          </div>
          <div class="tip">
            <ion-icon ios="md-thumbs-up" md="md-thumbs-up"></ion-icon>
            1005
          </div>
          <div class="tip">
            <ion-icon ios="md-thumbs-down" md="md-thumbs-down"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>