page-user {
    ion-icon {
        width: 32px;
    }
    .item-md ion-icon[item-left]+.item-inner,
    .item-md ion-icon[item-left]+.item-input,
    .item-md ion-icon[item-start]+.item-inner,
    .item-md ion-icon[item-start]+.item-input {
        margin-left: 0px;
    }
    .list-ios>.item-block:first-child {
        border-top: none;
    }
    .list-ios>.item-block:last-child {
        border-bottom: none;
    }
    .scroll-content {
        background-color: $page-bg-color;
    }
    .thumbnail {
        background-color: $content-bg-color;
        min-height: 120px;
        width: 100%;
        display: flex;
        flex-flow: row;
        padding: 10px;
        .stable {
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            .avatar {
                height: 64px;
                width: 64px;
                border: 1px solid #DDD;
                border-radius: 50%;
                img {
                    border-radius: 50%;
                }
            }
        }
        .wrapper {
            padding-left: 10px;
            flex: 1;
            display: flex;
            flex-flow: column;
            justify-content: center;
            .user-name {
                height: 30px;
                line-height: 30px;
                font-size: 13px;
            }
            .count {
                display: flex;
                flex-direction: row;
                color: #9a9a9a;
                div {
                    margin-right: 10px;
                }
            }
        }
        .login {
            flex: 1;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            .space-split {
                width: 20px;
            }
            button {
                min-width: 120px;
                height: 40px;
                border-radius: 5px;
                font-weight: bold;
            }
            .btn-reg {
                background-color: #fb8dad;
                color: #FFF;
            }
            .btn-login {
                background-color: #EFEFEF;
                color: #fc7da1;
            }
        }
    }
    .logout {
        span {
            font-size: 14px;
        }
    }
}