page-recommend {
    .scroll-content {
        background-color: $page-bg-color;
    }
    .rec-item {
        background-color: $content-bg-color;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 10px;
        .cover {
            height: 150px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }
        }
        .title {
            height: 20px;
            line-height: 20px;
        }
    }
}