<ion-header>
  <ion-navbar>
    <ion-title mode="ios">番剧列表</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides #slides *ngIf="banners && banners.length>0" speed="500" autoplay="5000" loop pager>
    <ion-slide *ngFor="let banner of banners">
      <img [src]="bannerUrl + banner.image" alt="" />
    </ion-slide>
  </ion-slides>

  <div class="card" *ngFor="let bangumi of bangumis">
    <div class="title" (click)="showBangumiList(bangumi)">
      {{bangumi.name}}
    </div>
    <div class="box">
      <div class="box-item" *ngFor="let anime of bangumi.animes" (click)="showBangumiDetail(anime)">
        <div class="cover">
          <img-loader [src]="coverUrl + anime.cover" useImg></img-loader>
        </div>
        <div class="subtitle">
          {{anime.title}}
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="loading($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>