<div class="player">
    <canvas id="canvas" class="video" webkit-playsinline>
    </canvas>
    <div class="display" (touchstart)="touchStart($event)" (touchmove)="touchMove($event)" (touchend)="touchEnd($event)">
    </div>
    <div class="control-title" [@controlTitle]="controlState">
        <div class="back" (click)="goBack()">
            <ion-icon ios="ios-arrow-back" md="ios-arrow-back"></ion-icon>
        </div>
        <div class="title">
            {{title}}
        </div>
    </div>
    <div class="control" [@control]="controlState">
        <div class="progress-bar">
            <input #progressBar type="range" value="0" (input)="beginChange()" (change)="endChange()">
        </div>
        <div class="control-bar">
            <div class="play">
                <ion-icon [name]="paused ? 'ios-play' : 'ios-pause'" (click)="play()"></ion-icon>
            </div>
            <div class="time">
                {{currentTime}}/{{duration}}
            </div>
            <div class="danmaku">
                <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
            </div>
        </div>
    </div>
</div>