app-player {
    $video-bg-color: #000; // #c2b8b6;
    $slider-width-number: 4096;
    $slider-width: 100%;
    $slider-height: 2px;
    $background-slider: #c7c7c7;
    $background-filled-slider: #ea7a99;
    $thumb-width: 18px;
    $thumb-height: 18px;
    $thumb-radius: 50%;
    $thumb-background: #fff;
    $thumb-border: 1px solid #ea7a99;
    $shadow-size: -8px;
    $fit-thumb-in-slider: -8px;
    @function makelongshadow($color, $size) {
        $val: 5px 0 0 $size $color;
        @for $i from 6 through $slider-width-number {
            $val: #{$val},
            #{$i}px 0 0 $size #{$color};
        }
        @return $val;
    }
    .player {
        width: 100vw;
        height: 100vh;
        background: $video-bg-color;
        .video {
            position: fixed;
            background-color: $video-bg-color;
            width: 100vw;
            height: 100vh;
        }
        .control-title {
            height: 30px;
            width: 100%;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            .back {
                display: flex;
                width: 30px;
                align-items: center;
                justify-content: center;
                ion-icon {
                    font-size: 25px;
                    color: #FFF;
                }
            }
            .title {
                display: flex;
                align-items: center;
                color: #FFF;
            }
        }
        .display {
            width: 100vw;
            height: 100vh;
            position: fixed;
            background-color: none;
        }
        .control {
            width: 100%;
            position: fixed;
            bottom: 0px;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.1);
            .progress-bar {
                width: 100%;
                height: 25px;
                input {
                    align-items: center;
                    appearance: none;
                    background: none;
                    cursor: pointer;
                    display: flex;
                    height: 100%;
                    overflow: hidden;
                    width: $slider-width;
                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                    &::-webkit-slider-runnable-track {
                        background: $background-filled-slider;
                        content: '';
                        height: $slider-height;
                        pointer-events: none;
                    }
                    &::-webkit-slider-thumb {
                        width: $thumb-width;
                        height: $thumb-height;
                        appearance: none;
                        background: $thumb-background;
                        border-radius: $thumb-radius;
                        box-shadow: makelongshadow($background-slider, $shadow-size);
                        margin-top: $fit-thumb-in-slider;
                        border: $thumb-border;
                    }
                }
            }
            .control-bar {
                height: 30px;
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                .play {
                    display: flex;
                    width: 40px;
                    align-items: center;
                    justify-content: center;
                    ion-icon {
                        font-size: 25px;
                        color: #FFF;
                    }
                }
                .time {
                    width: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                }
                .danmaku {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    ion-icon {
                        font-size: 25px;
                        color: #FFF;
                    }
                }
            }
        }
    }
}